@CHARSET "UTF-8";
/*全局样式*/
body{
	font-size:12px;
	font-family:宋体，arial;
}
/* 清除块元素空隙 */
/* *{ 效率低
	margin:0;
	padding:0;
} */
html,body,div,p,h1,h2,h3,h4,h5,h6,ul,li,ol,dl,dt,dd,table,tr,td,th,form,input,textarea,select{
	margin:0;
	padding:0;
}
/* 统一超链接的样式 */
a{
	color:#333;
	text-decoration:none;
}
a:hover{
	color:#900;
	text-decoration:underline;
}
/* 链接元素是图像去掉IE中边框 */
img{
	border:0;
}
/* 统一标题字大小  */
h1,h2,h3,h4,h5,h6{
	font-size:14px;
	font-weight:bold;
}
/* 去掉ul，ol的项目符号  */
ul,ol,li{
	list-style:none;
}
/* 万能清除  */
.clearfix{
	zoom:1;
}
.clearfix:after{
	content:".";
	clear:both;
	display:block;
	height:0;
	visibility:hidden;
}
/* 表格统一样式  */
table{
	border-collapse:collapse;
	border-spacing:0;
}
